.app {
	&__header {
		background-color: var(--color-black);
		&-h1 {
			font-family: var(--font-base);
			color: var(--color-golden);
			letter-spacing: .04em;
			text-transform: uppercase;
			line-height: 117px;
			font-size: 90px;
		}
		&-img {
			img {
				width: 80%;
			}
		}

		@media screen and (max-width: 2000px) {
		
		}

		@media screen and (max-width: 1150px) {
			&-h1 {
		
				letter-spacing: .04em;
				line-height: 77px;
				font-size: 60px;
			}
		}

		@media screen and (max-width: 650px) {
			&-h1 {
				letter-spacing: .02em;
				line-height: 50px;
				font-size: 40px;
			}
		}
	}
}